body{overflow: scroll;}

body::-webkit-scrollbar {
  width: 4px;
  border-radius:20px;
  height:0;}
body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  height:30px;}

body::-webkit-scrollbar-thumb{
width: 60px;
background: rgb(254, 255, 255);
border: 5px solid #BFBFBF;
border-radius: 15px;}

.hide {
  display:none;
}
input[type="checkbox"] {
  display: none;
}
#btn-a:checked ~ .hide {
  display: block
}
#btn-a:not(:checked) ~ .hide {
  display: none;
}
summary{list-style: none;}

.logo{background-image: linear-gradient(180deg, #FFB354 0%, #EE7A3A 100%);
color: white;
font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
height: 68px;
width: 221px;
padding-top: 15px;
padding-left:25px;
margin-top:-10px;
margin-left:-8px;}

header{background-color:#FDF1EB;
width: 1380px;
height:83px;
font-size:14px;
padding-top:px;}

header img{position:absolute;
margin-left:182ch;
margin-top:-50px;
width:40px;}

.text-header{margin-left:303px;
margin-top:-100px;
color:#725C5C;
;}

nav{border:1px solid rgb(236, 227, 222);
padding-left:25x;
margin-left:-8px;}

nav img{width: 244px;}

.l1-intro{margin-bottom:-15px;
padding-top:3px;
margin-left: 2px;
color:#725C5C;}

select{margin-left: 630px;
margin-top:-75px;
position: absolute;
height:34px;
width: 97px;
color:#725C5C;
}


.l2-intro{margin-left:900px;
margin-top:-70px;

}

.l3-intro{margin-left:800px;
margin-top:-10px;
color:#725C5C;
}

.l-numero{margin-left:2px;
margin-top:-10px;
color:#725C5C;}

ul li{list-style: none;
padding:10px;
font-family: sans-serif;
font-weight: 500;
border-bottom: 1px solid gainsboro;
margin-left: -37px;}



nav{width:244px;
height:500px;
display:;
}

.l1-centro{margin-top:-500px;
padding-top:5px;
margin-left: 300px;
margin-bottom: 40px;
color: #ED7839;}

.download{margin-left:1000px;
margin-top:-75px;
position: absolute;
width: 120px;
height:31px;
background: #ED7839;
border-radius: 4px;
color:white;
background-image: url("https://i.ibb.co/pdZZK0z/image.png");
background-repeat: no-repeat;
background-position: 8px;
padding-left:25px;
border:none;
cursor: pointer;}

.estrela{margin-left:1140px;
margin-top:-75px;
position: absolute;
width: 43px;
height:31px;
background: #ED7839;
border-radius: 4px;
color:white;
background-image: url("https://i.ibb.co/YfW8ZT3/image.png");
background-repeat: no-repeat;
background-position:10px;
border:none;
cursor:pointer;}

.doi{margin-left:1200px;
margin-top:-75px;
position:absolute;
width: 43px;
height:31px;
background: #ED7839;
border-radius: 4px;
color:white;
background-image:url("https://i.ibb.co/K5vr466/doi.png");
background-repeat:no-repeat;
background-position:10px;
border:none;
cursor: pointer;}

.detalhes{margin-left:1000px;
margin-bottom:100px;
margin-top:40px;
border:1px solid #ECECEC;
width: 246px;
height:400px; 
overflow: scroll;}

.detalhes::-webkit-scrollbar {
  width: 4px;
  border-radius:20px;
  height:0;}

.detalhes::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  height:30px;}

.detalhes::-webkit-scrollbar-thumb{
width: 60px;
background: rgb(254, 255, 255);
border: 5px solid #BFBFBF;
border-radius: 15px;}

.title-detalhes{width: 212px;
height:20px;
background-color: #FDF1EB;
font-family:  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-weight: 600;
font-size:20px;
margin-top:-1px;
padding:15px;}

.l1-detalhes{color:rgb(124, 120, 120);
padding-bottom: 20px;
margin-left:5px;}

.autores{color:rgb(124, 120, 120);
margin-left:5px;}

.universidade{color:rgb(124, 120, 120);
padding-top:20px;
margin-left:5px;}

.imagem{margin-left:300px;
position:absolute;
display:flex;}

.text-video{margin-left:330px;
position:absolute;
margin-top:20px;
color:white;
font-weight:900;
font-size: 20px;}

.personagem-video{position: absolute;
margin-top:220px;
margin-left: 350px;}

.fundo-video{margin-left:300px;
margin-top:0px;
position: absolute;
display:flex;}

.l1-video{margin-left:445px;
position:absolute;
margin-top:230px;
color:white;
font-weight: 900;
font-size: 30px;}

.l2-video{margin-left:445px;
position:absolute;
margin-top:275px;
color:white;
font-weight: 600;
font-size: 18px;}

.resumo{border: 1px solid #ECECEC;
width: 948px;
margin-left:295px;
margin-top:-80px;
font-family: sans-serif;
color: #4E4E4E;}

.title-resumo{background-color:#FDF1EB;
height:50px;
margin-top:0px;
padding-top:5px;
padding-left:5px;
color: #4E4E4E;}

i{font-weight: 600;
cursor: pointer;}

i:hover{color:#ED7839;}

.discussoes{border: 1px solid #ECECEC;
width: 948px;
height:320px;
margin-left:295px;
margin-top:30px;
font-family:sans-serif;}

.discussoes h2{background-color:#FDF1EB;
height:50px;
margin-top:0px;
padding-top:5px;
padding-left:5px;
color: #4E4E4E;}

.discussoes-h3{text-align: center;
color:#ED7839;
margin-bottom: 30px;}

.img-01{position:absolute;
margin-left:590px;}

.img-02{position:absolute;
margin-left:450px;}

.img-03{position:absolute;
margin-left:300px;
margin-bottom:20px;}

.text1-discussoes{margin-top: 120px;
text-align: center;
font-weight: 400;
margin-left: 80px;
font-size: 18px;
width: 800px;
}

.criar-topico{margin-left: 440px;
margin-top:30px;
width: 120px;
height:31px;
background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
border-radius: 4px;
color:white;
border:none;
position: absolute;}

.text-trabalho{margin-left:1030px;
font-size: 15px;
margin-top:-35px;
margin-bottom: -25px;
font-weight: 500;
font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
color:#ED7839;
position: absolute;}

.detalhes-01{border: 1px solid #ECECEC;
width: 918px;
height:auto;
margin-left:295px;
margin-top:30px;
font-family: sans-serif;
padding: 15px;}

.detalhes-01 h3{color: #ED7839;}

.p-nome{color: #5C5C5C;
font-size: 14px;
font-weight: 700;
font-family: sans-serif;}

.detalhes-01 p{color: #4D4D4D}

.quadrado-icon{width: 27px;
  height: 19px;
  background: #ED7839;
  background-image: url("https://i.ibb.co/4F4b9pz/green-apples-22-1.png");
  background-repeat: no-repeat;
background-position:6px;
border: 2px;
margin-left: 20px;
margin-top:33px;
}

.like{display: flex;
margin-left:370px;
margin-top:-65px;
padding-left: 70px;;
color: #757575;
font-family: sans-serif;}

.like-01{position: absolute;
  margin-left:-75px;}

li:hover{border-left: 3px solid #ED7839;
background-color:#FDF1EB;}

.details-02{border: 1px solid #ECECEC;
width: 918px;
height:auto;
margin-left:295px;
margin-top:30px;
font-family: sans-serif;
padding: 15px;
margin-bottom: 10px;}

.details-02 h3{color:#ED7839;}

a{text-decoration: none;
color: black;}

details summary::-webkit-details-marker {
  display:none;}

details[open] > summary:before {
  transform: rotate(90deg);
}


summary:before {
  content: '';
  border-width: .4rem;
  border-style: solid;
  border-color: transparent transparent transparent #fff;
  position: absolute;
  top: 1.3rem;
  left: 1rem;
  transform: rotate(0);
  transform-origin: .2rem 50%;
  transition: .25s transform ease;
  display:none;

}

details {
 
  margin: 0 auto ;
  box-shadow: 0 .1rem 1rem -.7rem rgba(0,0,0,.4);
  border-radius: 0px;
  overflow: hidden;
  display: block;
  color: #4D4D4D;
  
}

summary {
  padding: 3rem;
  display: inherit;
  padding-left: 2.2rem;
position: absolute;
  color: #4D4D4D;
  

}
footer{border-top:1px solid #ECECEC;
width: 948px;
margin-left: 296px;}

.caixa-02{width: 27px;
  height: 19px;
  background: #ED7839;
  background-image: url("https://i.ibb.co/4F4b9pz/green-apples-22-1.png");
  background-repeat: no-repeat;
background-position:6px;
border: 2px;
margin-left: 20px;
margin-top:3px;}

.like-02{margin-top:2px;
  margin-left:35px;
  position: absolute;
  color: #757575;}

.respostas{margin-left:105px;
margin-top:2px;
position: absolute;
color: #757575;
cursor: pointer;}

.respostas:hover{color: #ED7839;}

.title-footer{color: rgb(49, 11, 66);
margin-top:0px;
font-size: 60px;}

.subtitle-footer{color: rgb(26, 12, 63);
position: absolute;
margin-top:-45px;
margin-left:14px;
font-family: sans-serif;
font-size: 14px;
margin-bottom: -10px;}

.footer-p1{position: absolute;
margin-top: -95px;
margin-left: 180px;
width: 800px;
font-family: sans-serif;
font-size: 14px;
color: #757575;}

footer button{width: 150px;
height:30px;
color:#ECECEC;
background: rgb(73, 14, 128);
border-radius: 4px;
border: none;
margin-top:-20px;
position: absolute;
margin-bottom: 10px;
cursor: pointer;

}

.footer-p2{margin-top: -45px;
margin-left: 180px;
width: 800px;
font-family: sans-serif;
font-size: 14px;
color: #757575;
margin-bottom: 50px;}


 .subtitle-footer:after {
  content: '';
  position: absolute;
  width:9px;
  height: 2px;
  background: #6d2db0;
  margin-left: 6px;
  margin-top:8px;
}

.subtitle-footer:before{
  content: '';
  position: absolute;
  width: 9px;
  height: 2px;
  background: #6d2db0;
  margin-left:-14px;
  margin-top:8px;}

  .background-01{background: rgb(235, 229, 229);
  padding: 10px;}